<footer class="bg-dark text-gold font-text flex flex-col md:flex-row justify-between items-center">

    <a class="w-20 h-auto mt-2 mb-2 ml-2" href="{{ path('app_landing') }}">
        <img src="{{ asset('images/logo.png') }}" alt="logo" class="size-full">
    </a>

    <ul id="contact" class="flex flex-col items-center mb-4 md:m-0">
        <li>06 06 06 06 06</li>
        <li>12 rue de la pizza 59000 Lille</li>
        <li>lundi - vendredi 11h30 - 22h</li>
    </ul>

    <div class="socials flex flex-row justify-between w-8/12 md:w-3/12 mb-4 md:m-0">
        <a href="#" class="block w-10 h-auto"><img src="{{ asset('images/facebook.png') }}" alt="Facebook" class="size-full"></a>
        <a href="#" class="block w-10 h-auto"><img src="{{ asset('images/instagram.png') }}" alt="Instagram" class="size-full"></a>
        <a href="#" class="block w-10 h-auto"><img src="{{ asset('images/youtube.png') }}" alt="Youtube" class="size-full"></a>
        <a href="#" class="block w-10 h-auto"><img src="{{ asset('images/linkedin.png') }}" alt="LinkedIn" class="size-full"></a>
    </div>

    <ul id="links" class="flex flex-col md:items-end md:me-2 items-center m-0">
        <li class="hover:decoration-1 hover:underline"><a href="#">Informations légales</a></li>
        <li class="hover:decoration-1 hover:underline"><a href="#">copyright</a></li>
    </ul>
</footer>