{% extends 'base.html.twig' %}


{% block title %}
    Luigi's Pizza | Administration - Nouveautés
{% endblock %}

{% block body %}
    <div id="container" class="flex flex-col">
        {% include 'admin/partials/_menu.html.twig' %}
        {% include 'admin/partials/posts_menu.html.twig' %}


        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(posts, 'partials/pagination/tailwindcss_pagination.html.twig')}}
        </div>


        <table class="admin-table">
            <tr>
                <th>Date/Heure</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Image</th>
                <th>Supprimer/Modifier</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{{ post.createdAt|date('d/m/Y h:i') }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.picture }}</td>
                    <td class="text-center">
                        <a href="{{ path('admin_posts_delete', {id: post.id}) }}" class="text-red-600 m-5 hover:text-red-400"><i class="fa-solid fa-trash fa-xl hover:fa-fade"></i></a>
                        <a href="{{ path('admin_posts_edit', {id: post.id}) }}" class="text-indigo-500 m-5 hover:text-indigo-300"><i class="fa-solid fa-pen fa-xl hover:fa-beat"></i></a></td>
                </tr>
            {% endfor %}
        </table>

        {% if posts is empty%}
            <h1>Aucun post trouvé</h1>
        {% endif %}
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(posts, 'partials/pagination/tailwindcss_pagination.html.twig')}}
        </div>
    </div>
{% endblock %}